NODE_ENV=development
POSTGRES_DB=scaffhold
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
REDIS_PORT=6379
POSTGRES_URL=******localhost:5432/scaffhold
REDIS_URL=redis://localhost:6379
ORCHESTRATOR_PORT=4000
SCANNER_PORT=4001
TRANSACTION_ENGINE_PORT=4002
COMPILATION_SERVICE_PORT=4003
VITE_ORCHESTRATOR_API_URL=http://localhost:4000
VITE_SCANNER_API_URL=http://localhost:4001
VITE_TRANSACTION_ENGINE_API_URL=http://localhost:4002
VITE_COMPILATION_API_URL=http://localhost:4003
